{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content %}
    <div class="row">
        <div class="col">

        </div>

        <div class="col-4">
            <section class="get-in-touch">
                <h1 class="title">Login</h1>
                <form class="contact-form row" method="POST">
                    <div class="form-field col-lg-12 ">
                        <input id="email" name="email" class="input-text js-input" type="email" required>
                        <label class="label" for="email">E-mail Address</label>
                    </div>
                    <div class="form-field col-lg-12 ">
                        <input id="password" name="password" class="input-text js-input" type="password" required>
                        <label class="label" for="password">Password</label>
                    </div>
                    <div class="form-field col-lg-6">
                        <input class="submit-btn" type="submit" value="Login">
                    </div>
                    <div class="form-field col-lg-6" style="padding-top: 0.4em; padding-left: 8em;">
                        <a href="/sign-up"><span>Not Registered</span></a>
                    </div>
                </form>
            </section>
        </div>
        <div class="col">

        </div>
    </div>
{% endblock %}
